@import "src/styles";
:host {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1160px;
  width: 100%;
  border: 1px solid black;
  border-radius: 1.5rem;
  @include media-desktop {
    width: 97%;
  }

  .tabs-content-wrapper {
    margin: 0 auto;
    padding-top: 5%;
    width: 90%;

    .tab-columns {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid rgba(169, 169, 169, 0.45);

      .tab-item-left-column {
        width: 60%;
        @include display-flex($justify: right);

        .tab-item-left {
          width: 40%;
          padding: 0 20% 0 0;
          text-align: center;
          @include media-mobile {
            width: 80%;
            padding: 0 5% 0 0;
          }
        }
      }
      .tab-item-right-column {
        width: 40%;
        @include display-flex($justify: left);

        .tab-item-right {
          width: 20%;
          text-align: center;
        }
      }
    }
  }
}
