<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{ activePage[0] }}" href="/navigator?tab=0">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ activePage[1] }}" href="/navigator?tab=1">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ activePage[2] }}" href="/navigator?tab=2">Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ activePage[3] }}" href="/navigator?tab=3"
      >Investments</a
    >
  </li>
</ul>

<h2>{{ contentPage[0].name }}</h2>
